* {
    box-sizing: border-box;
    color: var(--text-color);
    background-color: var(--background-color);
    --border-color: var(--text-color);
}

body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    background-color: var(--background-color, $background-color);
    color: var(--text-color, $font-color);

    min-width: fit-content;
    margin: 0px;

    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
    }

    .content {
        padding: 20px;
    }

    a {
        text-decoration: none;
        &:hover {
            --text-color: #{$white};
        }
    }

    .underline {
        text-decoration: underline;
    }

    h1 {
        font-size: 80px;
        font-weight: 800;
    }

    h2 {
        font-size: 40px;
        font-weight: 500;
    }

    .enrere {
        text-align: center;
        padding: 30px 0 80px 0;
    }

    .carregant {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 100vh;
        color: $dark-grey;
        font-size: 20px;
    }
}

