body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    background-color: $background-color;
    color: $font-color;

    margin: 0px;

    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
    }

    a {
        color: $white;
        text-decoration: none;
    
        &:hover {
            color: $grey;
        }
    }
}

