body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    background-color: $background-color;
    color: $font-color;

    margin: 0px;

    input:focus,
    select:focus,
    textarea:focus,
    button:focus {
        outline: none;
    }

    .content {
        padding: 20px;
    }

    a {
        color: $white;
        text-decoration: none;
    
        &:hover {
            color: $grey;
        }        
    }

    .btn {
        color: $white;
        border: 1px solid $white;
        border-radius: 10px;
        padding: 10px 40px;
        font-weight: 600;
        cursor: pointer;
        
        &:hover {
            border-color: $grey;
            color: $grey;
        }
    }

    .btn-menys-marge {
        padding: 10px 20px;
    }

    .btn-petit {
        border-radius: 5px;
        padding: 5px 10px;
        font-weight: 500;
    }

    .btn-verd {
        color: $green;
        border-color: $green;
        
        &:hover {
            border-color: $grey;
            color: $grey;
        }
    }

    .btn-vermell {
        color: $red;
        border-color: $red;
        
        &:hover {
            border-color: $white;
            color: $white;
        }
    }

    .btn-gris {
        color: $grey;
        border-color: $grey;
       
        &:hover {
            border-color: $white;
            color: $white;
        }
    }

    .btn-black {
        color: $black;
        border-color: $black;
       
        &:hover {
            border-color: $white;
            color: $white;
        }
    }

    h1 {
        font-size: 80px;
        font-weight: 800;
    }

    h2 {
        font-size: 40px;
        font-weight: 500;
    }

    .enrere {
        text-align: center;
        padding: 20px 0 80px 0;
    }

    .between {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
}

