button, .btn {
    cursor: pointer;
    font-family: inherit;
    font-optical-sizing: auto;

    font-weight: 600;
    font-size: 100%;
    color: var(--text-color);
    text-wrap: nowrap;
    border: 1px solid var(--border-color);
    border-radius: 10px;

    padding: 10px 40px;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &.recording {
        --text-color: #{$red};
        animation: blink 1s steps(7, start) infinite;
    }
}

.btn-white {
    --text-color: #{white};
    &:hover {
        --text-color: #{$grey};
    }

}


.btn-black--primary {
    --text-color: #{$white};
    --background-color: #{$black};
    --border-color: #{$black};
    &:hover {
        --background-color: #{transparentize($black, 0.2)};
    }
}
 

.navbar a, .footer a {
    border: none;
    padding: 0;
}

.btn-petit {
    padding: 5px 10px;
    font-weight: 500;
    height: 30px;
    min-width: 58px;
}

.btn-gruf {
    font-size: 14px;
    font-weight: 400;
}

.btn-verd {
    --text-color: #{$green};
    &:hover {
        --text-color: #{lighten($green, 20%)};
    }
}

.btn-verd--primary {
    --text-color: #{$black};
    --background-color: #{$green};
    &:hover {
        --text-color: #{lighten($black, 10%)};
        --background-color: #{lighten($green, 10%)};

    }
}

.btn-gris {
    --text-color: #{$grey};
    // if hovering and button does not have class "recording"
    &:not(.recording):hover {
        --text-color: #{$white};
    }
}

.btn-black {
    --text-color: #{$black};
    &:hover  {
        --background-color: #{transparentize($grey, 0.5)};
        --text-color: #{$white};
    }
}

.btn-vermell {
    --text-color: #{$red};
    &:hover {
    --text-color: #{lighten($red, 20%)};
    }
}