button, a {
    cursor: pointer;
    --text-color: #{white};

    font-family: Montserrat, sans-serif;
    font-optical-sizing: auto;

    font-weight: 600;
    font-size: 100%;
    color: var(--text-color);
    text-wrap: nowrap;

    background-color: transparent;

    border: 1px solid var(--text-color);
    border-radius: 10px;

    padding: 10px 40px;

    &:hover {
        --text-color: #{$grey};
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &.recording {
        --text-color: #{$red};
        animation: blink 1s steps(7, start) infinite;
    }

}

.navbar a, .footer a {
    border: none;
    padding: 0;
}

.btn-petit {
    padding: 5px 10px;
    font-weight: 500;
    height: 30px;
    min-width: 58px;
}

.btn-gruf {
    font-size: 14px;
    font-weight: 400;
}

.btn-verd {
    --text-color: #{$green};
}

.btn-gris {
    --text-color: #{$grey};
}

.btn-black {
    --text-color: #{$black};
}

.btn-verd, .btn-gris, .btn-black {
    &:hover {
        --text-color: #{white};
    }
}

.btn-vermell {
    --text-color: #{$red};
    &:hover {
    --text-color: #{lighten($red, 10%)};
    }
}