$white: rgb(255, 255, 254);
$grey: rgb(150, 150, 151);
$dark-grey: rgb(75, 75, 75);
$black: rgb(35, 35, 38);
$orange: rgb(255, 134, 56);
$yellow: rgb(241, 193, 102);


$font-color: $grey;
$background-color: $black;