$white: rgb(255, 255, 254);
$grey: rgb(150, 150, 151);
$dark-grey: rgb(75, 75, 75);
$black: rgb(35, 35, 38);
$orange: rgb(255, 134, 56);
$yellow: rgb(241, 193, 102);
$lightblue: rgb(0, 226, 211);
$red: rgb(212, 59, 93);
$green: rgb(222, 229, 102);
$pink: rgb(217, 138, 220);
$pale-orange: rgb(253, 209, 172);

$font-color: $grey;
$background-color: $black;