.connectat {
    text-align: center;
    background: url('../img/gruf_instruments_bg_c.png'); // background-image: url("../img/home intro.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    height: 710px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    h1 {
        color: $black;
        font-size: 60px;
    }

    input {
        /* input element with transparent background, montserrat font, adaptable width and only lower border */
        background-color: transparent;
        font-family: 'Montserrat', sans-serif;
        font-size: 60px;
        border: none;
        border-bottom: 1px dotted $black;
        color: $black;
        width: 250px;
    }

    .connect-error {
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translate(-50%, -10px);
        margin: auto;
        color: $white;
        background-color: $red;
        width: fit-content;
        opacity: 0%;
        animation-name: fadeout;
        animation-duration: 4s;
        border-radius: 15px;
        padding: 10px 20px;
    }

    ul {
        list-style-type: none;
        padding: 0;
        
        li {
            display:inline;
            margin-left: 20px;
        }
    }
    
}


@keyframes fadeout {
    0%   {opacity: 100%;}
    50%  {opacity: 100%;}
    100% {opacity: 0%;}
  }

.ultimsGrufs {
    padding: 20px;
    color: white;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            line-height: 40px;
        }
    }
}


.crea {
    margin: 10px;
    margin-top: auto;
    display: flex;
    justify-content: center;
    a {
        border: none;
        padding: 0;
        text-decoration: underline;
    }
}