.estacions {
    display: flex;
    justify-content: center;
}

.tria-estacions {
    height: 690px;

    h3 {
        color: $white;
    }

    .grid-estacions {
        display: grid;
        grid-template-columns: auto auto auto auto;

        .grid-estacio-element {
            padding:10px;
            text-align: center;
            color: $white;
            border-radius: 10px;

            cursor: pointer;

            &:hover {
                background-color: $dark-grey;
            }

            img {
                height: 180px;
                margin-bottom: 5px;
            }
        }
    }
}

.estacio-default {
    padding: 10px;
    border: 1px solid black;
    overflow: hidden;
    width: 100%;

    .preset-buttons {
        float: right;
    }
}

.logo_gruf {
    background-image: url("../img/logo_gruf.svg");
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: 10px left;
    height: 16px;
    width: 48px;
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: -10px;
}

.arranjament {
    width: 100%;
}

.mixer {
    width: 100%;
}

.estacio {
    width: 1000px;
    height: 710px;

    .estacio-main {
        height: 100%;
        position: relative;
        background-color: $dark-grey;
        border-radius: 15px;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.estacio-piano {
    .estacio-main {
        background-image: url("../img/piano_bg.svg");
        //background-image: url('../img/piano.jpg');
        background-color: $orange;
    }
    .selected {
        background-color: $orange!important;
    }    
}

.estacio-grooveBox {
    .estacio-main {
        background-image: url("../img/groovebox_bg.svg");
        //background-image: url('../img/groovebox.jpg');
        background-color: $yellow;
    }
    .selected {
        background-color: $yellow!important;
    }    
}

.estacio-piano-logo {
    background-image: url("../img/piano_logo.svg");
    background-size: auto 30px;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 120px;
}

.estacio-mixer-logo {
    background-image: url("../img/mixer_logo.svg");
    background-size: auto 30px;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 150px;
}

.estacio-computer-logo {
    background-image: url("../img/computer_logo.svg");
    background-size: auto 30px;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 150px;
}

.estacio-sampler {
    .estacio-main {
        background-image: url("../img/sampler_bg.svg");
        background-color: $lightblue;
    }

    .selected {
        background-color: $lightblue!important;
    }    
}







