.estacions {
    display: flex;
    justify-content: center;
}

.tria-estacions {
    height: 690px;

    h3 {
        color: $white;
    }

    .grid-estacions {
        display: grid;
        grid-template-columns: auto auto auto auto;

        .grid-estacio-element {
            padding:10px;
            text-align: center;
            color: $white;
            border-radius: 10px;

            cursor: pointer;

            &:hover {
                background-color: $dark-grey;
            }

            img {
                height: 180px;
                margin-bottom: 5px;
            }
        }
    }
}

.estacio-default {
    padding: 10px;
    border: 1px solid black;
    overflow: hidden;
    width: 100%;

    .preset-buttons {
        float: right;
    }
}

.logo_gruf {
    background-image: url("../img/logo_gruf.svg");
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: 10px left;
    height: 16px;
    width: 48px;
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: -10px;
}

.arranjament {
    width: 100%;
}

.mixer {
    width: 100%;
}

.estacio {
    width: 1000px;
    height: 710px;

    .estacio-main {
        height: 100%;
        position: relative;
        background-color: $dark-grey;
        border-radius: 15px;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

.estacio-piano {
    .estacio-main {
        background-image: url("../img/piano_bg.svg");
        background-color: $orange;
    }
    .selected {
        background-color: $orange!important;
    }
    &.mixer-border {
        border-color: $orange;
    }  
    &.computer-step {
        border-color: $orange;
        background-color: $orange;
    }  
}

.estacio-piano-logo {
    background-image: url("../img/piano_logo.svg");
    background-size: auto 30px;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 120px;
}

.estacio-groovebox {
    .estacio-main {
        background-image: url("../img/groovebox_bg.svg");
        background-color: $yellow;
    }
    .selected {
        background-color: $yellow!important;
    }
    &.mixer-border {
        border-color: $yellow;
    }
    &.computer-step {
        border-color: $yellow!important;
        background-color: $yellow!important;
    }  
}

.estacio-groovebox-logo {
    background-image: url("../img/groovebox_logo.svg");
    background-size: auto 30px;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 160px;
}

.estacio-synth {
    .estacio-main {
        background-image: url("../img/synth_bg_2.svg");
        background-color: $red;
    }
    .selected {
        background-color: $red!important;
    }
    &.mixer-border {
        border-color: $red;
    }
    &.computer-step {
        border-color: $red!important;
        background-color: $red!important;
    }        
}

.estacio-synth-logo {
    background-image: url("../img/synth_logo.svg");
    background-size: auto 30px;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 110px;
}

.estacio-synth_bass {
    .estacio-main {
        background-image: url("../img/synth_bass_bg_2.svg");
        background-color: $pink;
    }
    .selected {
        background-color: $pink!important;
    }
    &.mixer-border {
        border-color: $pink;
    }
    &.computer-step {
        border-color: $pink!important;
        background-color: $pink!important;
    }  
}

.estacio-synth_bass-logo {
    background-image: url("../img/synth_bass_logo.svg");
    background-size: auto 30px;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 165px;
}

.estacio-sampler {
    .estacio-main {
        background-image: url("../img/sampler_bg.svg");
        background-color: $lightblue;
    }

    .selected {
        background-color: $lightblue!important;
    }
    
    &.mixer-border {
        border-color: $lightblue;
    }
    &.computer-step {
        border-color: $lightblue!important;
        background-color: $lightblue!important;
    }  
}

.estacio-sampler-logo {
    background-image: url("../img/sampler_logo.svg");
    background-size: auto 30px;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 145px;
}

.estacio-mixer {
    .estacio-main {
        background-image: url("../img/mixer_bg.svg");
        background-color: $green;
    }
    .selected {
        background-color: $green!important;
    }    
}

.estacio-mixer-logo {
    background-image: url("../img/mixer_logo.svg");
    background-size: auto 30px;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 150px;
}

.estacio-mixer-container {
    display: flex; 
    overflow: scroll;
    flex-direction: row; 
    justify-content: start; 
    align-items: start; 
    //min-height: 100vh;
    padding: 30px;

    scrollbar-width: thin;  
    scrollbar-color: transparent transparent; 

    // Webkit browsers (Chrome, Safari, Edge)
    &::-webkit-scrollbar {
        width: 8px; 
    }

    &::-webkit-scrollbar-track {
        background-color: transparent; 
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent; 
    }
}

.estacio-mixer-columna {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: end; 
    margin: 10px;
    margin-right: 0px;
    width: 50px;
    padding: 10px; 
    border-radius: 10px; 
    border: 2px solid $light-grey; 
    height: 100%;
    margin-top: 75px;
    position: relative;

    .slider-wrapper {
        display: flex;
        flex-direction: row; 
        justify-content: center; 
        align-items: flex-end; 
        gap: 0px; 
        height: 400px; 
        margin-top: 10px;
    }

    .volume-meter {
        position: relative;
        width: 10px;
        background-color: transparent;
        border: none;
        display: flex;
        flex-direction: column-reverse;
        height: 100%; 
        z-index: 0;
    }

    .grayscale {
        filter: grayscale(1);
    }
    
    .volume-level {
        width: 100%;
        background-color: green;
        height: 0;
        transition: height 0.1s ease-in-out, background-color 0.1s ease-in-out; 
    }

    .mute-solo-container {
        display: flex;
        flex-direction: row; 
        width: 100px; 
        margin-top: 20px; 
        justify-content: center;
    }
    .nom-estacio-container {
        display: flex;
        flex-direction: row; 
        width: 100px; 
        margin-top: 10px; 
        justify-content: center;
        font-size: 12px;
        color: $white;
        position: absolute;
        bottom: -25px;
    } 
}

.estacio-mixer-master-columna {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: end; 
    margin: 10px;
    margin-right: 0px;
    width: 50px;
    padding: 10px; 
    border-radius: 10px; 
    border: 2px solid $light-grey; 
    height: 100%;
    margin-top: 75px;
    position: relative;
    .master-label {
        display: flex;
            flex-direction: row; 
            width: 100px; 
            margin-top: 10px; 
            justify-content: center;
            font-size: 12px;
            color: $white;
            position: absolute;
            bottom: -25px;
    }
}

.estacio-computer {
    .estacio-main {
        background-image: url("../img/computer_bg.svg");
        background-color: $pale-orange;
        overflow: scroll;
    }
    .selected {
        background-color: $pale-orange!important;
    }
}

.estacio-computer-logo {
    background-image: url("../img/computer_logo.svg");
    background-size: auto 30px;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 150px;
}