@property --accent-color {
    syntax: "<color>";
    inherits: true;
    initial-value: #{$dark-grey};
}

.estacions {
    display: flex;
    justify-content: center;
}

.tria-estacions {
    height: 690px;
    overflow: scroll;

    h3 {
        color: $white;
    }

    .grid-estacions {
        display: grid;
        grid-template-columns: auto auto auto auto;

        .grid-estacio-element {
            padding:10px;
            text-align: center;
            color: $white;
            border-radius: 10px;

            cursor: pointer;

            &:hover {
                background-color: $dark-grey;
            }

            img {
                height: 180px;
                margin-bottom: 5px;
            }
        }
    }
}

.estacio-default {
    padding: 10px;
    border: 1px solid black;
    overflow: hidden;
    width: 100%;

    .preset-buttons {
        float: right;
    }
}

.logo_gruf {
    background-image: url("../img/logo_gruf.svg");
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: 10px left;
    height: 16px;
    width: 48px;
    display: inline-block;
    padding-bottom: 10px;
    margin-bottom: -10px;
}

.arranjament {
    width: 100%;
}

.mixer {
    width: 100%;
}

.estacio {
    width: 1000px;
    height: 710px;

    .estacio-main {
        height: 100%;
        position: relative;
        background-color: var(--accent-color);
        border-radius: 15px;
        background-size: contain;
        background-repeat: no-repeat;
    }

    .selected {
        background-color: var(--accent-color)!important;
        color: $white!important;
    }

    &.mixer-border, &.computer-step {
        border-color: var(--accent-color)!important;
    }

    &.computer-step {
        background-color: var(--accent-color)!important;
    }
}

.estacio-piano {
    --accent-color: #{$orange};
    .estacio-main {
        background-image: url("../img/piano_bg.svg");
    }
}

.estacio-piano-logo {
    background-image: url("../img/piano_logo.svg");
    background-size: auto 30px;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 120px;
}

.estacio-groovebox {
    --accent-color: #{$yellow};
    .estacio-main {
        background-image: url("../img/groovebox_bg.svg");
    }
}

.estacio-groovebox-logo {
    background-image: url("../img/groovebox_logo.svg");
    background-size: auto 30px;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 160px;
}

.estacio-synth {
    --accent-color: #{$red};
    .estacio-main {
        background-image: url("../img/synth_bg_2.svg");
    }
}

.estacio-synth-logo {
    background-image: url("../img/synth_logo.svg");
    background-size: auto 30px;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 110px;
}

.estacio-synth_bass {
    --accent-color: #{$pink};
    .estacio-main {
        background-image: url("../img/synth_bass_bg_2.svg");
    }
}

.estacio-synth_bass-logo {
    background-image: url("../img/synth_bass_logo.svg");
    background-size: auto 30px;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 165px;
}

.estacio-sampler {
    --accent-color: #{$light-blue};
    .estacio-main {
        background-image: url("../img/sampler_bg.svg");
    }
}

.estacio-sampler-logo {
    background-image: url("../img/sampler_logo.svg");
    background-size: auto 30px;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 145px;
}

.estacio-mixer {
    --accent-color: #{$green};
    .estacio-main {
        background-image: url("../img/mixer_bg.svg");
    }
}

.estacio-mixer-logo {
    background-image: url("../img/mixer_logo.svg");
    background-size: auto 30px;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 150px;
}

.estacio-mixer-container {
    display: flex; 
    flex-direction: row; 
    justify-content: start; 
    align-items: start; 
    //min-height: 100vh;
    padding: 30px;

    scrollbar-width: thin;  
    scrollbar-color: transparent transparent; 

    // Webkit browsers (Chrome, Safari, Edge)
    &::-webkit-scrollbar {
        width: 8px; 
    }

    &::-webkit-scrollbar-track {
        background-color: transparent; 
    }

    &::-webkit-scrollbar-thumb {
        background-color: transparent; 
    }
}

.estacio-mixer-normal-tracks{
    display: flex;
    flex: auto;
    overflow-x: scroll;
}

@property --meter-level {
    syntax: "<percentage>";
    inherits: false;
    initial-value: 0%;
}

.estacio-mixer-columna {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: end; 
    margin: 10px;
    margin-right: 0px;
    margin-bottom: 30px;
    width: 50px;
    padding: 10px; 
    border-radius: 10px; 
    border: 2px solid var(--accent-color,#{$light-grey});
    height: 100%;
    margin-top: 68px;
    position: relative;

    .slider-wrapper {
        display: flex;
        flex-direction: row; 
        justify-content: center; 
        align-items: flex-end; 
        gap: 0px; 
        height: 400px; 
        margin-top: 10px;
    }

    .volume-meter {
        // suposant que 0dB és al 91% (range entre -60 i +6)
        background-image: linear-gradient(
        0deg,
        hsl(145deg 100% 50%) 0%,
        hsl(62deg 100% 51%) 91%,
        hsl(40deg 100% 50%) 95%,
        hsl(30deg 100% 50%) 97%,
        hsl(20deg 100% 50%) 99%,
        hsl(10deg 100% 50%) 100%
        );
        clip-path: inset(calc(100% - var(--meter-level)) 0 0 0);
        $amp-sampling-freq: 100ms;
        transition: --meter-level $amp-sampling-freq linear; // interpolate between amplitude samples
        height: 100%;
        width: 10px;
        border: none;
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        z-index: 0;
    }

    .grayscale {
        filter: grayscale(1);
    }
    
    .volume-level {
        width: 100%;
        background-color: green;
        height: 0;
        transition: height 0.1s ease-in-out, background-color 0.1s ease-in-out; 
    }

    .mute-solo-container {
        display: flex;
        flex-direction: row; 
        width: 100px; 
        margin-top: 20px; 
        justify-content: center;
    }
    .nom-estacio-container {
        display: flex;
        flex-direction: row; 
        width: 100px; 
        margin-top: 10px; 
        justify-content: center;
        font-size: 12px;
        color: $white;
        position: absolute;
        bottom: -25px;
    } 
}

.estacio-mixer-master-columna {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: end; 
    margin: 10px;
    margin-right: 10px;
    width: 50px;
    padding: 10px; 
    border-radius: 10px; 
    border: 2px solid $light-grey; 
    height: 100%;
    margin-top: 68px;
    position: relative;
    .slider-wrapper {
        display: flex;
        flex-direction: row; 
        justify-content: center; 
        align-items: flex-end; 
        gap: 0px; 
        height: 400px; 
        margin-top: 51px;

        .master-stereo-meters {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;
            gap: 0px;  
            height: 400px;
            margin-bottom: 41px;
            
            .volume-meter {
                position: relative;
                width: 5px;  
                background-color: transparent;
                border: none;
                display: flex;
                flex-direction: column-reverse;
                height: 100%; 
                z-index: 0;
            }
        
            .volume-level {
                width: 100%;
                background-color: green;
                height: 0;
                transition: height 0.1s ease-in-out, background-color 0.1s ease-in-out;
            }
        }
    }

    
    .master-label {
        display: flex;
            flex-direction: row; 
            width: 100px; 
            margin-top: 10px; 
            justify-content: center;
            font-size: 12px;
            color: $white;
            position: absolute;
            bottom: -25px;
    }
}

.estacio-computer {
    --accent-color: #{$pale-orange};
    .estacio-main {
        background-image: url("../img/computer_bg.svg");
        overflow: scroll;
    }
}

.estacio-computer-logo {
    background-image: url("../img/computer_logo.svg");
    background-size: auto 30px;
    background-repeat: no-repeat;
    background-position: center;
    height: 30px;
    width: 150px;
}