@import './colors.scss';

:export {
    white: #{$white};
    grey: #{$grey};
    darkGrey: #{$dark-grey};
    black: #{$black};
    orange: #{$orange};
    yellow: #{$yellow};
    light-blue: #{$light-blue};
    red: #{$red};
    green: #{$green};
    pink: #{$pink};
    paleOrange: #{$pale-orange};
}