// CSS reset for fieldset and legend
fieldset {
    margin: 0;
    padding: 0;
    border: none;
    display: block;
    width: fit-content;
    legend {
        display: contents;
    }
}


fieldset.gruf-modul {
    background-color: $background-color;
    border: 1px solid $light-grey;
    border-radius: 15px;
}

.gruf-legend > * {
        border: 1px solid $light-grey;
        border-radius: 15px;
        display: inline-block;
        padding: 4px 10px;
        min-width: 130px;
}

.gruf-modul-eq {
    height: 120px;
    padding: 10px 20px;
    .gruf-legend > * {
        margin-bottom: 10px;
    }
    width: 292px;
    legend {
        background-color: $background-color;
    }
    > div {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
}


.gruf-modul-delay {
    width: 153px;
    height: 226px;
    padding: 10px 0;
    &, & > fieldset {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    }
    & > div {
        display: flex;
        justify-content: center;
        gap: 10px;
        > * {
            flex: 1;
        }
    }
}