// CSS reset for fieldset
fieldset {
    margin: 0;
    padding: 0;
    border: none;
    display: block;
    width: fit-content;
}


.gruf-modul {
    background-color: $background-color;
    border: 1px solid $light-grey;
    border-radius: 15px;
    padding: 10px;
}

.gruf-legend {
    border: 1px solid $light-grey;
    border-radius: 15px;
    display: inline-block;
    padding: 4px 10px;
    min-width: 130px;
    align-self: flex-start;

    &.bare {
        border: none;
        padding: 0;
    }
}

.gruf-modul-eq {
    height: 130px;
    width: 292px;
    .gruf-legend {
        margin-bottom: 10px;
    }
    > div {
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
}


.gruf-modul-delay {
    &, fieldset {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }
}

.gruf-modul-delay {
    width: 153px;
    height: 226px;
    
    & > div {
        display: flex;
        justify-content: center;
        gap: 10px;
        > * {
            flex: 1;
        }
    }
}

.gruf-modul-reverb {
    width: 293px;
    height: 136px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .knob {
        position: absolute;
        top: 10px;
        right: 20px;
    }
    
    .reverb-knob-container {
        float:right;
    }

}