
.sessio-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: fit-content;
    min-height: 100dvh;  // Using dvh insetad of vh works better in browsers like safari where toolbar might ovrerlap the content

    background-image: url("../img/home intro.jpg");
    background-size: cover;
    background-repeat: no-repeat;

    .sessio {
        width: 1060px;
        height: 800px;
        overflow: scroll;

        &::-webkit-scrollbar {
            display: none;
        }
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */

        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
        
        background-color: $black;
        border: 30px solid $black;
        border-radius: 30px;
        border-top-width: 3px;
        border-bottom-width: 0px;

        .header {
            padding: 0 5px;
            gap: 10px;

            .titol {
                display: flex;
                align-items: baseline;
                gap: 2px;
                color: $white;
                font-size: 20px;
                height: 42px;
                line-height: 42px;
            }
        }
        
        .footer {
            margin-top: 0px;
            padding: 0 5px;
            height: 42px;
            line-height: 42px;
        }
        
    }

}