.sessio {

    .header {
        padding: 20px;

        .titol {
            color: $white;
        }
    }

    .estacions {
        display: flex;
        justify-content: center;
    }
    
    .footer {
        padding: 20px;
    }
    
}