.text-grey {
    color: $grey;
}

.text-red {
    color: $red!important;
}

.text-orange {
    color: $orange!important;
}

.text-green {
    color: $green;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.text-accent {
    color: var(--accent-color)!important;
}
