.text-grey {
    color: $grey;
}

.text-red {
    color: $red!important;
}

.text-green {
    color: $green;
}

.ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
