.no-border {
    border: none;
}

.border-radius {
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 0.5rem 1.5rem;
}

.w-full {
    width: 100%;
}

.h-full {
    height: 100%;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.gap-10 {
    gap: 10px;
}

.text-12 {
    font-size: 12px;
}