.gruf-label {
    position: absolute;
    font-size: 14px;
}

.gruf-button-no-border {
    position: absolute;
    font-size: 14px;

    a {
        color: $white;
        cursor: pointer;
    
        &:hover {
            color: $grey;
        }
    }
}

.gruf-knob-gran {
    position: absolute;
    font-size: 14px;

    .p-knob {
        cursor: pointer;
    }

    div {
        text-align: center;
        padding-top: 3px;
    }
}

.gruf-knob-petit {
    position: absolute;
    font-size: 12px;

    .p-knob {
        cursor: pointer;
    }

    div {
        text-align: center;
        padding-top: 3px;
    }
}

.gruf-enum-2-columns {
    position: absolute;

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    grid-gap: 5px;

    button {
        color: $font-color;
        background-color: $black;
        border: 1px solid $grey;
        border-radius: 9px;
        width: 50px;
        cursor: pointer;
    }

    .selected {
        background-color: $dark-grey;
        color: white;
    }
}

.gruf-reverb-time {
    position: absolute;

    display: grid;
    grid-template-columns: 40px 170px;
    column-gap: 10px;
    grid-gap: 3px;
    font-size: 12px;

    button {
        background-color: $grey;
        border: 0px;
        border-radius: 4px;
        height: 10px;
        margin-top: 2.5px;
        cursor: pointer;
    }

    .selected {
        background-color: $dark-grey;
    }
}

.grid-default {
    user-select: none;
    
    .grid-row-default {
        display: flex;
    
        .step {
            border: 1px solid gray;
            height: 20px;
            width: 20px;
            text-align: center;
            line-height: 20px;
            vertical-align: middle;
            cursor: hand;
    
            &.filled {
                background-color: black;
                color: white;
            }
    
            &.active {
                border-color: red;
            }
        }
    
        
    }
}

.bpm-counter {
    position: absolute;
    width: 60px; 
    height: 60px; 
    border: 2px solid $grey;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;

    .inner-square {
        width: 80%; 
        height: 80%; 
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid $grey;
        border-radius: 15px;
        background-color: transparent;
        padding: 5px;
        box-sizing: border-box;

        .p-inputnumber {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: transparent;
            border: none;
            outline: none;

            .p-inputnumber-input {
                font-size: 13px; 
                color: $grey; 
                text-align: center;
                background: none;
                border: none;
                box-shadow: none;
                margin-bottom: 20px;
                margin-top: 4px;
            }
        }

        .bpm-buttons {
            display: flex;
            justify-content: space-between;
            width: 60%;
            margin-top: -15px;

            .button {
                width: 8px;
                height: 8px;
                background-color: transparent;
                border: none;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                position: relative;
                transform: rotate(-90deg);
                color: $grey;
                transition: color 0.2s; 
            }

            .button.active {
                color: yellow; 
            }

            .increment::after,
            .decrement::after {
                content: "";
                display: block;
                width: 0;
                height: 0;
                border-style: solid;
                position: absolute;
            }

            .decrement::after {
                border-width: 0 5px 7px 5px;
                border-color: transparent transparent $grey transparent;
            }

            .increment::after {
                border-width: 7px 5px 0 5px;
                border-color: $grey transparent transparent transparent;
            }
        }
    }
}

.gruf-select-button {
    position: absolute;
    width: 120px;  
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $white;
    background-color: $background-color;
    border-radius: 12px;
    overflow: hidden;

    .p-selectbutton {
        position: relative;
        width: 100%;
        height: 100%;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        overflow: hidden;
        cursor: pointer;

        .circle-icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 16px;
            height: 16px;
            background-color: $dark-grey; 
            border-radius: 100px;
            transition: left 0.3s ease;
        }

        &.on .circle-icon {
            left: 10px;
        }

        &.off .circle-icon {
            left: auto;
            right: 10px;
        }
    }
}

