.gruf-label {
    position: absolute;
    font-size: 14px;
}

.gruf-knob-gran {
    position: absolute;
    font-size: 14px;

    .p-knob {
        cursor: pointer;
    }

    div {
        text-align: center;
        padding-top: 3px;
    }
}

.gruf-knob-petit {
    position: absolute;
    font-size: 12px;

    .p-knob {
        cursor: pointer;
    }

    div {
        text-align: center;
        padding-top: 3px;
    }
}

.gruf-enum-2-columns {
    position: absolute;

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    grid-gap: 5px;

    button {
        color: $font-color;
        background-color: $black;
        border: 1px solid $grey;
        border-radius: 9px;
        width: 50px;
        cursor: pointer;
    }

    .selected {
        background-color: $yellow;
    }
}

.gruf-reverb-time {
    position: absolute;

    display: grid;
    grid-template-columns: 40px 170px;
    column-gap: 10px;
    grid-gap: 3px;
    font-size: 12px;

    button {
        background-color: $grey;
        border: 0px;
        border-radius: 4px;
        height: 10px;
        margin-top: 2.5px;
        cursor: pointer;
    }

    .selected {
        background-color: $yellow;
    }
}

.grid-default {
    user-select: none;
    
    .grid-row-default {
        display: flex;
    
        .step {
            border: 1px solid gray;
            height: 20px;
            width: 20px;
            text-align: center;
            line-height: 20px;
            vertical-align: middle;
            cursor: hand;
    
            &.filled {
                background-color: black;
                color: white;
            }
    
            &.active {
                border-color: red;
            }
        }
    
        
    }
}

.gruf-slider {
    position: absolute;
    font-size: 14px;
    width: 24%;

    .p-slider {
        cursor: pointer;
    }

    div {
        text-align: center;
        padding-top: 3px;
    }
    .MuiSlider-thumb {
        border-radius: 10%;
        height: 27px;
        width: 10px;
        }
    .MuiSlider-mark {
        height: 1px;
        color: #969697;
    }
    .MuiSlider-track {
        color: #969697;
        height: 17px;
    }
    .MuiSlider-rail {
        opacity: 0.5,
    }
}

.marques-slider{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: $font-color;
}

.gruf-slider-vertical {
    position: absolute;
    font-size: 14px;
    width: 24%;

    .p-slider {
        cursor: pointer;
    }

    div {
        text-align: center;
        padding-top: 3px;
    }
    .MuiSlider-thumb {
        border-radius: 10%;
        height: 27px;
        width: 5px;
        }
    .MuiSlider-mark {
        height: 1px;
        color: #969697;
    }
    .MuiSlider-track {
        color: #969697;
        height: 17px;
    }
    .MuiSlider-rail {
        opacity: 0.5,
    }
}