.gruf-label {
    position: absolute;
    font-size: 14px;
}

.gruf-knob-gran {
    position: absolute;
    font-size: 14px;

    .p-knob {
        cursor: pointer;
    }

    div {
        text-align: center;
        padding-top: 3px;
    }
}

.gruf-knob-petit {
    position: absolute;
    font-size: 12px;

    .p-knob {
        cursor: pointer;
    }

    div {
        text-align: center;
        padding-top: 3px;
    }
}

.gruf-enum-2-columns {
    position: absolute;

    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    grid-gap: 5px;

    button {
        color: $font-color;
        background-color: $black;
        border: 1px solid $grey;
        border-radius: 9px;
        width: 50px;
        cursor: pointer;
    }

    .selected {
        background-color: $yellow;
    }
}

.gruf-reverb-time {
    position: absolute;

    display: grid;
    grid-template-columns: 40px 170px;
    column-gap: 10px;
    grid-gap: 3px;
    font-size: 12px;

    button {
        background-color: $grey;
        border: 0px;
        border-radius: 4px;
        height: 10px;
        margin-top: 2.5px;
        cursor: pointer;
    }

    .selected {
        background-color: $yellow;
    }
}

.grid-default {
    user-select: none;
    
    .grid-row-default {
        display: flex;
    
        .step {
            border: 1px solid gray;
            height: 20px;
            width: 20px;
            text-align: center;
            line-height: 20px;
            vertical-align: middle;
            cursor: hand;
    
            &.filled {
                background-color: black;
                color: white;
            }
    
            &.active {
                border-color: red;
            }
        }
    
        
    }
}

.gruf-select-button {
    position: absolute;
    width: 120px;  
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $white;
    background-color: $background-color;
    border-radius: 12px;
    overflow: hidden;

    .p-selectbutton {
        position: relative;
        width: 100%;
        height: 100%;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: transparent;
        overflow: hidden;

        .circle-icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            width: 16px;
            height: 16px;
            background-color: $yellow; 
            border-radius: 100px;
            transition: left 0.3s ease;
        }

        &.on .circle-icon {
            left: 10px;
        }

        &.off .circle-icon {
            left: auto;
            right: 10px;
        }
    }
}