<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta id="vp" name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
    window.onload = function() {

        // Gruff session size is 1000px x 800px
        const grufHeight = 800;
        const grufWidth = 1060;

        const isLandscape = window.innerHeight < window.innerWidth;
        const isSmallLikePhone = window.innerHeight < 600 || window.innerWidth < 800;

        
        if (!isSmallLikePhone) {
            if (isLandscape) {
                // In landscape mode, we make sure that height fits the screen
                if (window.innerHeight < grufHeight) {
                    var mvp = document.getElementById('vp');
                    mvp.setAttribute('content','user-scalable=no,height=' + grufHeight * 1.05);
                }
            } else {
                // In portrait mode, we make sure that width fits the screen 
                if (window.innerWidth < grufWidth) {
                    var mvp = document.getElementById('vp');
                    mvp.setAttribute('content','user-scalable=no,width=' + grufWidth * 1.05);
                }
            }
        } else {
            if (isLandscape) {
                // If the device is really small and we're landscape mode, we adjust the width and height-dimension can be scrolled
                var mvp = document.getElementById('vp');
                mvp.setAttribute('content','user-scalable=no,width=' + grufWidth * 1.05);
            } else {
                // If the device is really small and we're portrait mode, we adjust the height and width-dimension can be scrolled
                var mvp = document.getElementById('vp');
                mvp.setAttribute('content','user-scalable=no,height=' + grufHeight * 1.05);
            }
        }
    }
    </script>
    <title>GRUF - Versembrant</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='dist/favicon.svg') }}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">

    {% if not noappcss %}
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/index.css') }}">
    {% endif %}

    {% block extra_head %}
    {% endblock %}

</head>
<body>
    {% block content %}
    {% endblock %}
    <script type="text/javascript">
        const appPrefix = "{{ app_prefix }}";
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='dist/index.js') }}"></script>
    {% block js %}
    {% endblock %}
    <div class="cr cr-bottom cr-left cr-sticky cr-green" style="display:none">El GRUF està en fase beta<br><a href="mailto:gruf@versembrant.cat ">Tens problemes?</a></div>
</body>
</html>