<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta id="vp" name="viewport" content="width=device-width, initial-scale=1.0" />
    <script>
    window.onload = function() {
        let minWidth = 1100;
        if (window.innerHeight < window.innerWidth) {
            minWidth = 1400 //screen.width/screen.height * 600 - 200;  // 800 is the height of the session
        }
        if (screen.width < minWidth) {
            var mvp = document.getElementById('vp');
            mvp.setAttribute('content','user-scalable=no,width=' + minWidth);
        }
    }
    </script>
    <title>GRUF - Versembrant</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='dist/favicon.e494d1d5.svg') }}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/index.css') }}">
</head>
<body>
    {% block content %}
    {% endblock %}
    <script type="text/javascript">
        const appPrefix = "{{ app_prefix }}";
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='dist/index.js') }}"></script>
    {% block js %}
    {% endblock %}
</body>
</html>