<footer>
    <div class="footer">
        <div class="logo-versembrant">
            <p>Un projecte de </p> <img src="{{ url_for('static', filename='dist/landing/images/logo_versembrant_blanc.svg') }}" alt="logo versembrant">
        </div>
        <div class="logo-gene">
            <p>Amb el suport de </p> <img src="{{ url_for('static', filename='dist/landing/images/logo_gene_blanc.svg') }}" alt="logo generalitat">
        </div>
        <div class="legal">
            <a href="{{app_prefix}}/legal">AVÍS LEGAL</a>
        </div>
    </div>
</footer>