{% extends "base.html" %}

{% block content %}
<div id="root"><div class="carregant"><div>Carregant...</div></div></div>
<div id="landingContent" style="display:none;">
    <h2>Què és el GRUF?</h2>
    <p>
        <b>El GRUF és un programari lliure de producció musical</b>, en versió web i aplicació, dissenyat especialment per a l’aprenentatge de competències musicals i artístiques, i que integra els principals instruments que s’utilitzen en l’àmbit de la producció musical actual (sàmpler, seqüenciador, sintetitzador, mesclador…). Amb el GRUF podràs aprendre a produir els teus pròpis beats o crear en comunitat de forma col·laborativa. 
    </p>
    <p>
        VIDEO
    </p>

    <h2>Un projecte de Versembrant</h2>
    <p>
        Versembrant SCCL és una escola itinerant constituïda en cooperativa de treball associat que ha viscut un creixement i consolidació notable els 4 darrers anys. 
    </p>
    <p>
        Som un projecte socioeducatiu de formació i acompanyament per a la creació artística,  nascut amb l’objectiu d’impulsar el treball en valors com la igualtat, l’esperit crític, la cooperació, la no discriminació i l’educació emocional entre infants i joves. Ho fem mitjançant activitats educatives emmarcades dins de la cultura urbana -i el Hip Hop en particular- en centres educatius.
    </p>

    <h2>Marc pedagòic</h2>
    <p>
        El GRUF està dissenyat per ser molt més que un programari lliure de creació de beats. També ofereix la possibilitat de ser integrat dins l’àmbit de l’aprenentatge musical i artístic a l’aula, tant a Primària com a Secundària, com altres centres d'ensenyament musical reglat i no reglat. 
    </p>
    <p>
        Oferim una guia per al professorat amb materials formatius amb l’objectiu no només de capacitar-los en la utilització del programari, sinó que també oferim una sèrie d’unitats didàctiques dins les competències bàsiques dins els currículums.
    </p>
    <p style="text-align:center;margin-top:30px;margin-bottom:30px;">
        <a href="#">Descarrega el manual</a>
    </p>
    <p>
        Vols el material formatiu i la proposta d'unitats didàctiques? <a href="#">Contacta'ns</a>
    </p>

    <h2>Opinions</h2>
    <p>
        “El GRUF és una eina molt potent per a l’aprenentatge musical i artístic” - Nom Cognom o Entitat o whatever
    </p>
    <p>
        “El GRUF és una eina molt potent per a l’aprenentatge musical i artístic” - Nom Cognom o Entitat o whatever
    </p>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="{{ url_for('static', filename='dist/pagines/frontpage.js') }}"></script>
{% endblock %}



