{% extends "base.html" %}

{% block content %}
<h1>New session</h1>
<form method="POST" action="." id="createSessionForm">
    <input type="text" name="name" placeholder="Nom de la sessió"></input>
    <input type="hidden" name="data" value=""/>
    <button>Create!</button>
</form>
{% endblock %}

{% block extra_body %}
<script type="text/javascript">
    setTimeout(function() {
        // Use a timeout to make sure all other scripts have been loaded and "fabricaEstacioOscilador" is defined
        // NOTE: not sure why this is needed here...
        const defaultSessionData = {
            estacions: {
                oscilador1: fabricaEstacioOscilador.getPlantilla(), 
                oscilador2: fabricaEstacioOscilador.getPlantilla(), 
            },
        }
        const dataInput = document.getElementsByName('data')[0];
        dataInput.value = JSON.stringify(defaultSessionData);
    }, 1000);
    
</script>
{% endblock %}