{% extends "base.html" %}

{% block extra_head %}
<link href="{{ url_for('static', filename='dist/landing/style.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
{% include 'header_no_sticky.html' %}
<main>
    <div id="root"></div>
</main>
{% include 'footer_no_border.html' %}
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ url_for('static', filename='dist/pagines/novaSessio.js') }}"></script>
    <script src="{{ url_for('static', filename='dist/landing/js/script.js') }}"></script>
{% endblock %}