{% extends "base.html" %}

{% block content %}
<h1>Sessió "{{ session.name }}" (ID: {{ session.id }}{% if local_mode %} - local{% endif %})</h1>
<session data-id="{{ session.id }}" data-local="{{ local_mode|tojson }}" data-data='{{ session.get_full_data()|tojson|safe }}'></session>
<div id="sessionConnectedUsers"></div>
<br>
<div id="audioTransportControls"></div>
<div id="audioMixerEstacions"></div>
<br>
<div>
    Estació: <select id="selectorEstacio">
        <option value="all">Totes</option>
        {% for estacio in session.estacions %}
        <option value="{{ estacio }}">{{ estacio }}</option>
        {% endfor %}
    </select>
    <div class="estacions">
        {% for estacio in session.estacions %}
        <div id="estacio-{{ estacio }}"></div>
        {% endfor %}
    </div>
</div>
<br>
<a href="/">Torna a la llista de sessions</a>
{% endblock %}

{% block js %}
<script type="text/javascript" src="/static/dist/pagines/sessio.js"></script>
{% endblock %}