{% extends "base.html" %}

{% block content %}
{% if session %}
<session data-id="{{ session.id }}" data-local="{{ local_mode|tojson }}" data-master-audio-engine="{{ master_audio_engine|tojson }}" data-data='{{ session.get_full_data()|tojson|safe }}'></session>
<div id="root"><div class="carregant"><div>Carregant...</div></div></div>
{% else %}
<div style="display: flex;align-items: center;justify-content: center;height: 100vh;">
    <div style="width:100%">
        <div class="connectat">
            <h1>Oh no! Aquest Gruf no existeix! :(</h1>
            <div><a href="{{ url_for('app.llista_sessions') }}" class="btn btn-black">Connecta't a un altre GRUF</a></div>
        </div>
        <div class="enrere" style="margin-top:20px;">
            <a class="btn" href="{{ url_for('app.frontpage') }}">Ves a l'inici</a>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}

{% block js %}
{% if session %}<script type="text/javascript" src="{{ url_for('static', filename='dist/pagines/sessio.js') }}"></script>{% endif %}
{% endblock %}