{% extends "base.html" %}

{% block content %}
<h1>Sessió "{{ session.name }}"</h1>
<a href="/">Torna a la llista de sessions</a>
<div id="root"></div>
{% endblock %}

{% block extra_body %}
<script type="text/javascript">
    const sessionUUID = "{{ session.uuid }}"; // sessionUUID is used in sessionManager.js
    var currentSession = undefined;

    socket.on('connect', function() {
        const username = (Math.random() + 1).toString(36).substring(7);
        socket.emit('join_session', {session_uuid: sessionUUID, username: username})
    });
    
    socket.on('set_session_data', function (data) {
        currentSession = new Session(data); 
        document.dispatchEvent(new Event("newSessionDataLoaded"));
    });
    
    socket.on('update_session_parameter', function (data) {
        if ((currentSession !== undefined) && (data.session_uuid === currentSession.uuid)) {
            currentSession.updateParametreEstacio(data.nom_estacio, data.nom_parametre, data.valor);
        }
    });
</script>

{% endblock %}